<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ title }}</title>
  <meta name="keywords" content="love,wedding,happiness" />
  <meta name="description" content="Adrian and Jess are gettin' hitched" />
  {% load static from staticfiles %}
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<div id="animation">
<div id="top" class="beginAnimation">
  <img src="{% static 'img/adrianhugeneck.gif' %}">
</div>

<div id="middle" class="beginAnimation">
  <img src="{% static 'img/jandamarried.png' %}" alt="Jess and Adrian are getting married on June 28, 2014">
</div>

<div id="hearts" class="beginAnimation">
  <img src="{% static 'img/hearts.png' %}">
</div>

<div id="bottom" class="beginAnimation">
  <img src="{% static 'img/jesshead.gif' %}">
</div>
</div>

<a class="rsvp" href="{% url 'rsvp' %}"><img src="{% static 'img/rsvp-button.png' %}"></a>

<div class="rsvp-form" {% if not show_rsvp_form %}style="display: none"{% endif %}>
  {% include 'jess/rsvp_form.html' %}
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jess.js' %}"></script>

</body>
</html>
