{% for message in messages %}
<div class="alert alert-danger">
  {{ message }}
</div>
{% endfor %}

<div id="yay" class="rsvp-form-content"
 {% if rsvp_result != 'yay' %}style="display: none"{% endif %}>
  <p>Awesome! The wedding staff has been notified and
    eagerly awaits your arrival.</p>
  <p>If circumstances change, you can always come back here and
    <a href="{% url 'rsvp' %}">revise</a> your RSVP.</p>
</div>
<div id="boo" class="rsvp-form-content"
 {% if rsvp_result != 'boo' %}style="display: none"{% endif %}>
  <p>Bummer! The wedding staff has been notified of your inability to
    attend.</p>
  <p>If anything changes, though, you can always come back here and
    <a href="{% url 'rsvp' %}">revise</a> your RSVP.</p>
</div>
<div id="rsvp" class="rsvp-form-content"
 {% if rsvp_result %}style="display: none"{% endif %}>

{% if user.is_authenticated %}
<p>Hello {{ user.first_name }}!</p>

{% for error in rsvp_form.non_field_errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}

<form method="post" action="{% url 'rsvp' %}" autocomplete="off">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_is_attending">Are you attending the wedding?</label>
    <input id="id_is_attending" name="is_attending" type="checkbox" {% if rsvp_form.is_attending.value %}checked{% endif %}>
  </div>

  <div class="form-group">
    {% for error in rsvp_form.number_of_guests.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <label for="id_number_of_guests">Number of guests</label>
    <input id="id_number_of_guests" name="number_of_guests" type="number" value="{{ rsvp_form.number_of_guests.value }}">
  </div>

  <div class="form-group">
    {% for error in rsvp_form.song.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <label for="id_song">What is your favorite song?</label>
    <input id="id_song" name="song" type="text" maxlength="200" value="{{ rsvp_form.song.value }}">
  </div>

  <input type="submit" value="RSVP">
</form>

{% else %}
<form method="post" action="{% url 'login' %}" autocomplete="off">
  {% csrf_token %}
  passphrase: <input type="text" name="passphrase">
  <input type="submit" value="login">
</form>
{% endif %}
</div>

{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}" class="logout">
  {% csrf_token %}
  <input type="submit" value="Log out">
</form>
{% endif %}
