{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="yay" class="rsvp-form-content"
 {% if rsvp_result != 'yay' %}style="display: none"{% endif %}>
  <p>Awesome! The wedding staff has been notified and
    eagerly awaits your arrival.</p>
  <p>If circumstances change, you can always come back here and
    <a href="{% url 'rsvp' %}">revise</a> your RSVP.</p>
</div>
<div id="boo" class="rsvp-form-content"
 {% if rsvp_result != 'boo' %}style="display: none"{% endif %}>
  <p>Bummer! The wedding staff has been notified of your inability to
    attend.</p>
  <p>If anything changes, though, you can always come back here and
    <a href="{% url 'rsvp' %}">revise</a> your RSVP.</p>
</div>
<div id="rsvp" class="rsvp-form-content"
 {% if rsvp_result %}style="display: none"{% endif %}>

{% if user.is_authenticated %}
<p>Hello {{ user.first_name }}!</p>

<form method="post" action="{% url 'rsvp' %}" autocomplete="off">
  {% csrf_token %}
  {{ rsvp_form.as_p }}
  <input type="submit" value="RSVP">
</form>

{% else %}
<form method="post" action="{% url 'login' %}" autocomplete="off">
  {% csrf_token %}
  passphrase: <input type="text" name="passphrase">
  <input type="submit" value="login">
</form>
{% endif %}
</div>

{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}" class="logout">
  {% csrf_token %}
  <input type="submit" value="Log out">
</form>
{% endif %}
